<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.inthebus.mapper.BookmarkMapper">
	<insert id="insertBookmark" parameterType="BookmarkDTO">
		insert into bus_bookmark values(#{id},#{bus_id},#{bus_name},#{station_id},#{station_name},#{ars_id})
	</insert>
	
	<select id="duplicationCheck" parameterType="BookmarkDTO" resultType="BookmarkDTO">
		select * from bus_bookmark where id=#{id} and bus_id=#{bus_id} and station_id = #{station_id}
	</select>
	
	<delete id="deleteBookmark" parameterType="BookmarkDTO">
		delete from bus_bookmark where id=#{id} and bus_id=#{bus_id} and station_id = #{station_id}
	</delete>
	
	<select id="selectBookmark" parameterType="String" resultType="BookmarkDTO">
		select * from bus_bookmark where id=#{id}
	</select>
</mapper>