@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* 세로 100% */
	margin: 0;
	background-image: url("../img/Background.jpg");
}

div#total {
	width: 500px; /* 가로 400px */
	height: 100%; /* 세로 100% */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	/* padding: 16px; */
	/* display: flex; */
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #ecf0f1;
}

div#head {
	width: 500px;
	height: 4%;
	background-color: #0fbcf9;
	display: flex;
	/* text-align: center; */
	justify-content: center;
	align-items: center;
}

div#title {
	width: 500px;
	height: 15%;
	background-color: whitesmoke;
}

div#title>#star {
	width: 20px;
	height: 20px;
}

div#title>h1 {
	display: inline;
}

div#info {
	width: 500px;
	height: 81%;
	background-color: rgb(228, 228, 228);
	font-size: 40px;
}

div.svg2{
	position: absolute;
}

p#headText{
   font-family: 'Sunflower', sans-serif;
   font-weight: 400;
   font-size: 20px;
}
td{
	font-family: 'Noto Serif KR', serif;
	font-family: 'Sunflower', sans-serif;
}
h1#busName{
	font-family: 'Noto Serif KR', serif;
	font-family: 'Song Myung', serif;
	font-family: 'Sunflower', sans-serif;
}
span#payment{
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Noto Serif KR', serif;
	font-family: 'Song Myung', serif;
	font-family: 'Sunflower', sans-serif;
	font-size: 30px;
}
p#time{
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Noto Serif KR', serif;
	font-family: 'Song Myung', serif;
	font-family: 'Sunflower', sans-serif;
	font-size:30px;
}
span#inside{
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Noto Serif KR', serif;
	font-family: 'Song Myung', serif;
	font-family: 'Sunflower', sans-serif;
	font-size:30px;
}
p#arrive{
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Noto Serif KR', serif;
	font-family: 'Song Myung', serif;
	font-family: 'Sunflower', sans-serif;
	font-size:30px;
}