@charset "UTF-8";
@font-face {
    font-family: "YiSunShinDotumM";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  div#left{
    display: inline;
    width: 450px;
    height: 1200px;
    margin: 0px 0px 0px;
  }
  div#header{
  width: 500px;
  height: 110px;
  }
  form#search{
  width: auto;
  height:auto;
  }
  input#depart{
  width: 100px;
  height: 45px;
  border: 0;
  border-radius: 0;
  outline: 0;
  }
  input#arrive{
  width: 100px;
  height: 45px;
  border: 0;
  border-radius: 0;
  outline: 0;
  }
  div#info.main{
    display: block;
  }
  