@charset "UTF-8";
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 세로 100% */
    margin: 0;
  }
  div#head {
    width: 450px; /* 가로 400px */
    height: 100%; /* 세로 100% */
    /* border: 1px solid #ccc; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* padding: 50px; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* 기본 스타일 설정 */
  .accordion {
      cursor: pointer;
      padding: 10px;
      background-color: #7ed6df;;
      border: none;
      text-align: left;
      outline: none;
      transition: 0.4s;
  }
  .panel {
      display: none;
      background-color: white;
      padding: 10px;
  }